{% extends "shared/_MainLayout.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="height:60%">
            <div class="span12">
                <h3> بازیابی پسورد </h3>
                <p>
                    .گذرواژه خود را فراموش کرده اید؟ آدرس ایمیل خود را وارد کنید و ما مراحل تعیین کلمه عبور جدید را برای
                    شما ایمیل
                    می‌کنیم
                </p>
                <form method="post">

                    {% csrf_token %}
                    {{ form }}<br>

                    <input type="submit" class="btn btn-success" name="send_email" value="ارسال ایمیل">

                </form>
            </div>
        </div>
    </div>
{% endblock %}