{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}

    <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">وبمارکت</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="shop.html">فروشگاه</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="#">{{ products_detail.name }}</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="product.html">تی شرت مردانه کلاه دار</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="push-up top-equal blocks-spacer">

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="row blocks-spacer">

                <!--  ==========  -->
                <!--  = Preview Images =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="product-preview">

                        <div class="picture">
                            <img src={{ products_detail.image.url }} alt={{ products_detail.name.split|join:'-' }}width="940"
                                 height="940"
                                 id="mainPreviewImg"/>
                        </div>
                        <div class="thumbs clearfix">
                            {% for galery in products_detail.gallery.all %}
                                <div class="thumb {{ forloop.first|yesno:"active," }}">
                                    <a href="#mainPreviewImg"><img
                                            src={{ galery.image.url }} alt={{ galery.title.split|join:'-' }}
                                            width="940"
                                            height="940"/></a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <!--  ==========  -->
                <!--  = Title and short desc =  -->
                <!--  ==========  -->
                <div class="span7">
                    <div class="product-title">
                        <h1 class="name"><span class="light">{{ products_detail.name }}</span></h1>
                        <div class="meta">
                            <br class="tag">

                            {% if products_detail.off_price %} <span> {{ products_detail.off_price }}   قیمت با تخفیف
                                </span></br>
                                <del> {{ products_detail.product_price }}</del>
                            {% else %}
                                {{ products_detail.product_price }}
                            {% endif %}
                            <span class="stock">
                                {% if products_detail.inventory %} <span class="btn btn-success"> موجود </span>

                                {% else %}<span class="btn btn-danger">اتمام موجودی</span>{% endif %}

                            </span>
                        </div>
                    </div>
                    <div class="product-description">
                        <p> {{ products_detail.short_description }} </p>
                        <hr/>

                        <!--  ==========  -->
                        <!--  = Add to cart form =  -->
                        <!--  ==========  -->
                        <form action="#" class="form form-inline clearfix">
                            <div class="numbered">
                                <input type="text" name="num" value="1" class="tiny-size"/>
                                <span class="clickable add-one icon-plus-sign-alt"></span>
                                <span class="clickable remove-one icon-minus-sign-alt"></span>
                            </div>
                            &nbsp;
                            <select name="color" class="span2">
                                <option value="-1">انتخاب رنگ</option>
                                <option value="blue">آبی</option>
                                <option value="orange">نارنجی</option>
                                <option value="black">مشکی</option>
                            </select>
                            &nbsp;
                            <select name="size" class="span2">
                                <option value="-1">انتخاب سایز</option>
                                <option value="XS">خیلی کوچک</option>
                                <option value="S">کوچک</option>
                                <option value="M">متوسط</option>
                                <option value="L">بزرگ</option>
                                <option value="XL">خیلی بزرگ</option>
                                <option value="XXL">خیلی خیلی بزرگ</option>
                            </select>
                            <button class="btn btn-danger pull-right"><i class="icon-shopping-cart"></i> اضافه به سبد
                                خرید
                            </button>
                        </form>

                        <hr/>

                        <!--  ==========  -->
                        <!--  = Share buttons =  -->
                        <!--  ==========  -->
                        <div class="share-item">
                            <div class="pull-right social-networks">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style ">
                                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                    <a class="addthis_button_tweet"></a>
                                    <a class="addthis_button_pinterest_pinit"></a>
                                    <a class="addthis_counter addthis_pill_style"></a>
                                </div>
                                <script type="text/javascript"
                                        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-517459541beb3977"></script>
                                <!-- AddThis Button END -->
                            </div>
                            با دوستان خود به اشتراک بگذارید :
                        </div>

                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Tabs with more info =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-1" data-toggle="tab">جزئیات</a>
                        </li>
                        <li>
                            <a href="#tab-2" data-toggle="tab">جدول اندازه</a>
                        </li>
                        <li>
                            <a href="#tab-3" data-toggle="tab">نظرات</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="fade in tab-pane active" id="tab-1">
                            <h3>توضیحات محصول</h3>
                            {{ products_detail.full_description|safe }}
                        </div>
                        <div class="fade in tab-pane active" id="tab-2">

                        </div>
                        <div class="fade in tab-pane active" id="tab-3">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <!--  ==========  -->
    <!--  = Related Products =  -->
    <!--  ==========  -->
    <div class="boxed-area no-bottom">
        <div class="container">

            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                        <h2 class="title"><span class="light">محصولات</span> مرتبط</h2>
                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Related products =  -->
            <!--  ==========  -->
            <div class="row popup-products">
                {% for product in products_detail.category.products_set.all %}
                    <!--  ==========  -->
                    <!--  = Products =  -->
                    <!--  ==========  -->
                    <div class="span3">
                        <div class="product">
                            <div class="product-img">
                                <div class="picture">
                                    <img src={{ product.image.url }} alt="" width="540"
                                         height="374"/>
                                    <div class="img-overlay">
                                        <a href="{% url 'product-detail' product.id product.name.split|join:'-' %}"
                                           class="btn more btn-primary">توضیحات
                                            بیشتر</a>
                                        <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                    </div>
                                </div>
                            </div>
                            {% if product.off_price and product.off_expired_time %}
                                <div class="main-titles no-margin">
                                <h4 class="title"><span class="striked">{{ product.product_price }} تومان</span> <span
                                        class="red-clr">{{ product.off_price }} تومان</span></h4>
                            {% else %}
                            {% endif %}
                            <h5 class="no-margin">آدیداس کانورس</h5>
                            </div>
                            <p class="desc">{{ product.short_description|slice:130 }}...</p>
                            <p class="center-align stars">
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star stars-clr"></span>
                                <span class="icon-star"></span>
                            </p>
                        </div>
                    </div> <!-- /product -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}