{% load static %}


{% load tags %}
<!--  ==========  -->
<!--  = Header =  -->
<!--  ==========  -->
<header id="header">
    <div class="container">
        <div class="row">

            <!--  ==========  -->
            <!--  = Logo =  -->
            <!--  ==========  -->
            <div class="span7">
                <a class="brand" href="index.html">
                    <img src="{% static "images/logo.png" %}" width="48" height="48" alt="Webmarket-Logo"/>
                    <span class="pacifico">Webmarket</span>
                    <span class="tagline">قالب فروشگاهی HTML قدرتمند</span>
                </a>
            </div>

            <!--  ==========  -->
            <!--  = Social Icons =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="topmost-line">
                    <div class="lang-currency">
                        <div class="dropdown js-selectable-dropdown">
                            <a data-toggle="dropdown" class="selected" href="#"><span class="js-change-text"><i
                                    class="famfamfam-flag-gb"></i> انگلیسی (EN)</span> <b class="caret"></b></a>
                            <!-- for all available country flags look the styles in lib/components/_flags.scss -->
                            <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                <li><a href="#"><i class="famfamfam-flag-gb"></i> انگلیسی (EN)</a></li>
                                <li><a href="#"><i class="famfamfam-flag-si"></i> اسلوانیایی (SI)</a></li>
                                <li><a href="#"><i class="famfamfam-flag-de"></i> آلمانی (DE)</a></li>
                                <li><a href="#"><i class="famfamfam-flag-fr"></i> فرانسوی (FR)</a></li>
                                <li><a href="#"><i class="famfamfam-flag-es"></i> اسپانیولی (ES)</a></li>
                            </ul>
                        </div>
                        <div class="dropdown js-selectable-dropdown">
                            <a data-toggle="dropdown" class="selected" href="#"><span
                                    class="js-change-text">USD ($)</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                <li><a href="#">USD ($)</a></li>
                                <li><a href="#">EUR (€)</a></li>
                                <li><a href="#">YEN (¥)</a></li>
                                <li><a href="#">GBP (£)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="top-right">
                    <div class="icons">
                        <a href="http://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
                        <a href="skype:primozcigler?call"><span class="zocial-skype"></span></a>
                        <a href="https://twitter.com/proteusnetcom"><span class="zocial-twitter"></span></a>
                        <a href="http://eepurl.com/xFPYD"><span class="zocial-rss"></span></a>
                        <a href="#"><span class="zocial-wordpress"></span></a>
                        <a href="#"><span class="zocial-android"></span></a>
                        <a href="#"><span class="zocial-html5"></span></a>
                        <a href="#"><span class="zocial-windows"></span></a>
                        <a href="#"><span class="zocial-apple"></span></a>
                    </div>
                    <div class="register">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" role="button">خروج</a>
                        {% else %}
                            <a href="#loginModal" role="button" data-toggle="modal">ورود</a> یا
                            <a href="#registerModal" role="button" data-toggle="modal">ثبت نام</a>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- /social icons -->
        </div>
    </div>
</header>

<!--  ==========  -->
<!--  = Main Menu / navbar =  -->
<!--  ==========  -->
<div class="navbar navbar-static-top" id="stickyNavbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!--  ==========  -->
                    <!--  = Menu =  -->
                    <!--  ==========  -->
                    <div class="nav-collapse collapse">
                        <ul class="nav" id="mainNavigation">
                            <li><a href={% url 'home' %}> صفحه اصلی </a></li>

                            <li><a href={% url 'products' %}> محصولات </a></li>
                            <li class="dropdown">
                                <a href="blog.html" class="dropdown-toggle">بلاگ <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">قالب بندی پیش فرض</a></li>
                                    <li><a href="blog-single.html">تک نوشته</a></li>
                                    <li><a href="blog-search.html">نتایج جستجو</a></li>
                                    <li><a href="404.html">صفحه 404</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle"> دسته بندی <b class="caret"></b> </a>
                                <ul class="dropdown-menu">


                                </ul>

                            </li>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="{% url 'contact-us' %}">تماس با ما</a></li>
                        </ul>

                        <!--  ==========  -->
                        <!--  = Search form =  -->
                        <!--  ==========  -->
                        {% include 'shared/search-product_input_component.html' %}
                    </div><!-- /.nav-collapse -->
                </div>

                <!--  ==========  -->
                <!--  = Cart =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="cart-container" id="cartContainer">
                        <div class="cart">
                            <p class="items">سبد خرید <span class="dark-clr">{{ total_item }}</span></p>
                            <p class="dark-clr hidden-tablet">{{ total_price }}</p>
                            <a href="{% url "check_step1" %}" class="btn btn-danger">
                                <!-- <span class="icon icons-cart"></span> -->
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="open-panel">
                            {% for order in orders.cart_items.all %}
                                {% if order.status == "pending" %}
                                    <div class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="{{ order.product.image.url }}" width="124" height="124"
                                                 alt="cart item"/>
                                        </div>
                                        <div class="desc">
                                            <strong><a
                                                    href="{% url 'product-detail' order.product.id %}">{{ order.product.name }}</a></strong>
                                            <span class="light-clr qty">
                                    تعداد : {{ order.qty }}
                                    &nbsp;
                                    <a href="{% url 'remove-item' %}?id={{ order.id }}" class="icon-remove-sign"
                                       title="Remove Item"></a>
                                </span>
                                        </div>
                                        <div class="price">

                                            <strong></strong>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}


                            <div class="summary">
                                <div class="line">
                                    <div class="row-fluid">
                                        <div class="span6">هزینه ارسال :</div>
                                        <div class="span6 align-right">0</div>
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="row-fluid">
                                        <div class="span6">جمع کل :</div>
                                        <div class="span6 align-right size-16">{{ total_price }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="proceed">
                                <a href="{% url "check_step1" %}" class="btn btn-danger pull-right bold higher">تصویه
                                    حساب
                                    <i class="icon-shopping-cart"></i></a>
                                <small>هزینه ارسال بر اساس منطقه جغرافیایی محاسبه میشود. <a href="#">اطلاعات
                                    بیشتر</a></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- /cart -->
            </div>
        </div>
    </div>
</div> <!-- /main menu -->

